 

 table {
    font-family: Arial, Helvetica, sans-serif;
    color: #fffe0f;
    border-width: 0cqi ;
    border-style: solid;
    border-collapse: collapse;
    border-color: white;
    background-color: #000000
    
 }
 th {
    font-weight: 700;
    color: white;
 }